.text-type {
  display: inline-block;
}

.text-type__content {
  display: inline;
}

.text-type__cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 0.7s infinite;
}

.text-type__cursor--hidden {
  opacity: 0 !important;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
